// Font Stacks
// -------------------------------------------------------------------------- //
$heading: Cambria, Georgia, serif;
$body: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Color Scheme
// -------------------------------------------------------------------------- //
$primary: #000;
$secondary: #333;


// Breakpoints
// -------------------------------------------------------------------------- //
$small: calc-em(320px);
$medium: calc-em(640px);
$large: calc-em(960px);