// Common Breakpoints
// -------------------------------------------------------------------------- //
$breakpoint-sm: calc-em(480px);
$breakpoint-md: calc-em(768px);
$breakpoint-lg: calc-em(960px);
$breakpoint-xl: calc-em(1280px);

// Font Stacks
// -------------------------------------------------------------------------- //
$fonts: (
  heading: (
    regular: (Georgia, "Times New Roman", serif)
  ),
  body: (
    regular: (Helvetica, Arial, sans-serif)
  )
);

// Color Palette
// -------------------------------------------------------------------------- //
$colors: (
  neutral: (
    base: #333,
    light: #999,
    dark: #111
  ),
  primary: (
    base: #a40000,
    light: lighten(#a40000, 5%),
    dark: darken(#a40000, 5%)
  )
);
