@function font($family, $style: 'regular') {
  @if map-has-key($fonts, $family) {
    @if map-has-key(map-get($fonts, $family), $style) {
      @return map-get(map-get($fonts, $family), $style);
    } @else {
      @warn "$fonts #{$family} does not have a map key of #{$style}";
    }
  } @else {
    @warn "$fonts does not have a map key of #{$family}";
  }
}

@function palette($color, $tone: 'base') {
  @if map-has-key($colors, $color) {
    @if map-has-key(map-get($colors, $color), $tone) {
      @return map-get(map-get($colors, $color), $tone);
    } @else {
      @warn "$colors #{$color} does not have a map key of #{$tone}";
    }
  } @else {
    @warn "$colors does not have a map key of #{$color}";
  }
}

@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}

@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}

@function calc-em($target-px, $context: 16px) {
  @return ($target-px / $context) * 1em;
}

@function calc-pc($target-px, $context: 1000px) {
  @return ($target-px / $context) * 100%;
}

@mixin breakpoint($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin vertical-center() {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

// http://cssmojo.com/the-very-latest-clearfix-reloaded/
@mixin clearfix() {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
