// Font Stacks
// -------------------------------------------------------------------------- //
$body: Helvetica, Arial, sans-serif;


// Color Scheme
// -------------------------------------------------------------------------- //
$primary: #000;
$secondary: #333;