// Font Stacks
// -------------------------------------------------------------------------- //
$heading: "Hoefler Text", Georgia, Times, serif;
$body: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Color Scheme
// -------------------------------------------------------------------------- //
$primary: #fff;
$secondary: #000;