// Font Stacks
// -------------------------------------------------------------------------- //
$heading: Cambria, Georgia, serif;
$body: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Color Scheme
// -------------------------------------------------------------------------- //
$primary: #000;
$secondary: #333;